process {
    cpus     = 32
    memory   = 32.GB
    time     = 12.h
    executor = 'slurm'
    shell = ['/bin/bash', '-euo', 'pipefail']
}

apptainer {
    enabled     = true
    pullTimeout = 1.h
    //cacheDir    = '/home/user/data/nf-apptainer/' // adjust caching path for apptainer
    autoMounts  = true
}
